# Interactive tools for MapD

MapD is cool technology.  This tool bundles MapD technologies into a user friendly IPython API.

In [1]:
    %reload_ext ipymapd

c:\users\deathbeds\ibis\ibis\sql\postgres\compiler.py:223: UserWarning: locale specific date formats (%c, %x, %X) are not yet implemented for Windows
  'for %s' % platform.system()

## Connecting to a database

* List known connections

Return known MapD database connections using a configuration file.

    %mapd connect

Connect to a database connection.

In [8]:
    %mapd connect metis

<ibis.mapd.client.MapDClient object at 0x00000236D74E1940> contains the tables: ['flights_donotmodify', 'contributions_donotmodify', 'tweets_nov_feb', 'zipcodes_orig', 'zipcodes', 'demo_vote_clean']

List the tables in the connection.  This could return a sick widget to explore the data.

    %mapd table metis --interactive

Connect to a database using arguments

    %mapd connect \
    --user mapd \
    --password HyperInteractive \
    --host metis.mapd.com \
    --port 443 \
    --database mapd \
    --protocol https

## Queries

In [9]:
    %%mapd 
    SELECT goog_x as x, goog_y as y, tweets_nov_feb.rowid FROM tweets_nov_feb limit 10

              x            y  rowid
0 -6.494699e+06 -4122946.500  11232
1 -4.279343e+05  4904413.000  11233
2 -9.807124e+06  5091781.500  11234
3 -1.316743e+07  4024572.500  11235
4 -5.571405e+06 -3475819.500  11248
5 -4.337398e+06 -1370884.875  11249
6  4.758664e+06  2412860.000  11250
7 -1.024692e+07  1706442.000  11251
8 -1.080943e+07  3844545.750   5216
9 -6.514333e+06 -4092641.750  11236

## Visualization

The `mapd` magic may accept yaml in the body.  When `yaml` is used we return a visualization.

In [10]:
    %%mapd
    width: 384
    height: 564
    config: {ticks: false}
    data:
      - name: 'tweets'
        sql: 'SELECT goog_x as x, goog_y as y, tweets_nov_feb.rowid FROM tweets_nov_feb' 
    scales:
      - name: 'x'
        type: 'linear'
        domain: [3650484.1235206556, 7413325.514451755]
        range: 'width'
      - name: 'y'
        type: 'linear'
        domain: [5778161.9183506705, 10471808.487466192]
        range: 'height'
    marks:
      - type: 'points'
        from: {data: 'tweets'}
        properties:
          x: {scale: 'x', field: 'x'}
          y: {scale: 'y', field: 'y'}
          fillColor: 'green'
          size: {value: 1}

Disconnect the last database that was created

In [12]:
    %mapd disconnect

## Completion

* Queries have completion
* The line magic has completion

## Alternatives

* ibis.mapd

## Assumptions

* A user will experiment with a query before visualizing it.
* Typing out the connection information in _unfun_

In [ ]:
if __name__ == '__main__':
    !jupyter nbconvert --to markdown readme.ipynb