# Interactive tools for MapD

MapD is cool technology.  This tool bundles MapD technologies into a user friendly IPython API.

In [1]:
%reload_ext ipymapd

## Connecting to a database

* List known connections

Return known MapD database connections using a configuration file.

    %mapd connect

Connect to a database connection.

In [2]:
%mapd connect metis

<ibis.mapd.client.MapDClient object at 0x113068f60> contains the tables: ['flights_donotmodify', 'contributions_donotmodify', 'tweets_nov_feb', 'zipcodes_orig', 'zipcodes', 'demo_vote_clean']

List the tables in the connection.  This could return a sick widget to explore the data.

    %mapd table metis --interactive

Connect to a database using arguments

    %mapd connect \
    --user mapd \
    --password HyperInteractive \
    --host metis.mapd.com \
    --port 443 \
    --database mapd \
    --protocol https

## Queries

In [3]:
%%mapd 
SELECT goog_x as x, goog_y as y, tweets_nov_feb.rowid FROM tweets_nov_feb limit 10

            x             y  rowid
0 -13563874.0  4.384050e+06   4448
1  -4913196.5 -2.574509e+06  10016
2  -7009535.0 -4.230903e+06   4608
3  11907241.0 -6.886003e+05   4576
4  -7630287.0 -3.707356e+06   9408
5  -8239380.0  4.968139e+06   9888
6  -5436762.0 -3.040998e+06   4416
7  13476805.0  1.632640e+06   4960
8  -8241296.5  4.973656e+06   4449
9  -7277123.5 -3.884417e+06   9984

## Visualization

The `mapd` magic may accept yaml in the body.  When `yaml` is used we return a visualization.

%%mapd
width: 384
height: 564
config: {ticks: false}
data:
  - name: 'tweets'
    sql: 'SELECT goog_x as x, goog_y as y, tweets_nov_feb.rowid FROM tweets_nov_feb' 
scales:
  - name: 'x'
    type: 'linear'
    domain: [3650484.1235206556, 7413325.514451755]
    range: 'width'
  - name: 'y'
    type: 'linear'
    domain: [5778161.9183506705, 10471808.487466192]
    range: 'height'
marks:
  - type: 'points'
    from: {data: 'tweets'}
    properties:
      x: {scale: 'x', field: 'x'}
      y: {scale: 'y', field: 'y'}
      fillColor: 'green'
      size: {value: 1}

Disconnect the last database that was created

In [11]:
%mapd disconnect

## Completion

* Queries have completion
* The line magic has completion

## Alternatives

* ibis.mapd

## Assumptions

* A user will experiment with a query before visualizing it.
* Typing out the connection information in _unfun_

In [12]:
if __name__ == '__main__':
    !jupyter nbconvert --to markdown readme.ipynb
    !jupyter nbconvert --to python ipymapd/*.ipynb

[NbConvertApp] Converting notebook readme.ipynb to markdown
[NbConvertApp] Writing 3722 bytes to readme.md
[NbConvertApp] Converting notebook ipymapd/arguments.ipynb to python
[NbConvertApp] Writing 1843 bytes to ipymapd/arguments.py
[NbConvertApp] Converting notebook ipymapd/connection.ipynb to python
[NbConvertApp] Writing 1487 bytes to ipymapd/connection.py
[NbConvertApp] Converting notebook ipymapd/isql.ipynb to python
[NbConvertApp] Writing 799 bytes to ipymapd/isql.py
[NbConvertApp] Converting notebook ipymapd/magics.ipynb to python
[NbConvertApp] Writing 3461 bytes to ipymapd/magics.py