    %%mapd metis
    select * from zipcodes limit 10

In [34]:
    @Î».dataclasses.dataclass()
    class f():...

In [10]:
    from .connection import MapDConfig

In [2]:
    mapd = MapDConfig('config.ini')['metis'].connect()

Create a magic class that stores the current connection info.

In [9]:
    def mapd_query(line, cell):
        return mapd.raw_sql(line, results=True).to_df()

In [8]:
    mapd_query(mapd.table('flights_donotmodify').limit(10).compile())

,flight_year,flight_month,flight_dayofmonth,flight_dayofweek,deptime,crsdeptime,arrtime,crsarrtime,uniquecarrier,flightnum,...,dest_name,dest_city,dest_state,dest_country,dest_lat,dest_lon,origin_merc_x,origin_merc_y,dest_merc_x,dest_merc_y
0,2008,1,30,3,1928,1935,2206,2225,WN,1939,...,Philadelphia Intl,Philadelphia,PA,USA,39.871952,-75.241142,-9648971.0,4317762.5,-8375805.5,4847352.00
1,2008,1,30,3,708,710,1037,1005,WN,3743,...,Philadelphia Intl,Philadelphia,PA,USA,39.871952,-75.241142,-9648971.0,4317762.5,-8375805.5,4847352.00
2,2008,1,30,3,732,735,1022,1035,WN,756,...,Phoenix Sky Harbor International,Phoenix,AZ,USA,33.434166,-112.008057,-9648971.0,4317762.5,-12468680.0,3953075.25
3,2008,1,30,3,1423,1425,1713,1720,WN,1433,...,Phoenix Sky Harbor International,Phoenix,AZ,USA,33.434166,-112.008057,-9648971.0,4317762.5,-12468680.0,3953075.25
4,2008,1,30,3,1601,1605,1845,1910,WN,2354,...,Seattle-Tacoma Intl,Seattle,WA,USA,47.448982,-122.309311,-9648971.0,4317762.5,-13615410.0,6015670.00
5,2008,1,30,3,1802,1805,2036,2050,WN,101,...,Tampa International,Tampa,FL,USA,27.975471,-82.533249,-9648971.0,4317762.5,-9187559.0,3245881.75
6,2008,1,30,3,926,930,1205,1215,WN,785,...,Tampa International,Tampa,FL,USA,27.975471,-82.533249,-9648971.0,4317762.5,-9187559.0,3245881.75
7,2008,1,30,3,1338,1335,1617,1620,WN,1251,...,Tampa International,Tampa,FL,USA,27.975471,-82.533249,-9648971.0,4317762.5,-9187559.0,3245881.75
8,2008,1,30,3,1513,1515,1635,1650,WN,1950,...,Denver Intl,Denver,CO,USA,39.858410,-104.667000,-9768555.0,5128974.5,-11651477.0,4845388.00
9,2008,1,30,3,1133,1135,1419,1430,WN,1752,...,Phoenix Sky Harbor International,Phoenix,AZ,USA,33.434166,-112.008057,-9648971.0,4317762.5,-12468680.0,3953075.25

In [19]:
import argparse

This is shit

In [29]:
parser = argparse.ArgumentParser('mapd', '')
parser.add_argument('--alias', help='An alias in the configuration file.')
parser.add_argument('--config')
# add the other database params
parser.set_defaults(config='config.ini')